.newsCard{
    max-width: 372px;
    margin: 0 auto;
    background-color: white;
    border-radius: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1px;
}
.newsContentDiv{
    color: #7B8591;
    align-self: flex-end;
    margin: 0 40px 20px 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    column-gap: 20px;
}
.newsTitle{
    margin: 0;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.newsText{
    font-size: 16px;
    line-height: 25px;
}
.newsDiv{
    background-color: #3F51B5;
    border-radius: 10px 10px 0 0;
    color: white;
    text-align: center;
}
.newsDiv h2{
    padding: 15px 0;
}
.greenh1{
    color: #40BE65;
}
.blueh1{
    color: #0072CA;
}
.yellowh1{
    color: #D9A34A;
}
.redh1{
    color: #FF4967;
}
.lightblueh1{
    color: #0072CA;
}
