.surfingCard{
    max-width: 372px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.surfingImage{
    border-radius: 5px 5px 0 0;
}
.textDiv{
    padding: 30px;
}
.category{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 11px;
    font-weight: 900;
    color: #33439B;
}
.title{
    font-size: 29px;
    font-weight: bold;
    color: #303336;
}
.text{
    font-size: 16px;
    color: #7B8591;
    line-height: 22px;
}